@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
body {
  height: 100vh;
}
#nyt_search {
  height: 100%;
}
#nyt_search .header {
  background-color: rgb(32, 42, 75);
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 50%;
}

#nyt_search .search .card-header,
#nyt_search .top_articles .card-header {
  background-color: rgb(226, 226, 226);
  font-weight: bold;
  letter-spacing: 5px;
}

#nyt_search button i {
  padding: 10px 10px 10px 0px;
}

#nyt_search .article {
  font-family: "Lato", Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  max-height: 350px;
  min-height: 350px;
}
#nyt_search .article * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#nyt_search .article img {
  position: absolute;
  height: 100%;
  object-fit: cover;
}
#nyt_search .article figcaption {
  position: absolute;
  height: 110px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: hidden;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.75);
}
#nyt_search .article h3 {
  font-family: "Oswald";
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}
#nyt_search .article h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 1px;
  padding-bottom: 45px;
}
#nyt_search .article blockquote {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 0.8em;
}
#nyt_search .article a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#nyt_search .article:hover figcaption,
#nyt_search .article.hover figcaption {
  height: calc(85%);
}
