#nyt_search .header.container {
  background-color: rgb(32, 42, 75);
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#nyt_search .search .card-header,
#nyt_search .top_articles .card-header {
  background-color: rgb(226, 226, 226);
  font-weight: bold;
  letter-spacing: 5px;
}
